.dailyWeather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 80%;
  max-width: 90%;
  background-color:black;
  margin: 1em 0;
  color:white;
  font-family: cinzelregular, 'Times New Roman', Times, serif;
}

.dailyWeather div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
  
}
.dailyWeather div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  padding: 1em;
}

.dailyWeather p {
  margin: 0;
  padding: 0.5em 0;

}