.dailyWeather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  width: 90%;
  background-color:black;
  margin: 1em 0;
  color:white;
}

.dailyWeather div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.dailyWeather p {
  margin: 0;

}