.tab {
  display:flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 6em;
  height: 2em;
  margin: 0.5em 1em;
  background-color: lightskyblue;
  color:black;
  border: 1px solid lightskyblue;
  box-shadow: 1px 4px 4px rgba(135, 206, 250, 0.8);
  text-align: center;
  cursor: pointer; 
  font-family: cinzelbold;
}