nav {
  background-color: black;
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1em 0;
}

.weatherInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightskyblue;
}

.weatherInfo > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 5em 0;
  background-color: black;
}

.weatherInfo .overviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top:2em;
}

.weatherInfo .overview {
  display: inline-block;
  width: 250px;
  height: auto;
  background-color: black;
  margin: 1em;
  padding: 1em;
  color: white;
}

.overview h3 {
  font-size: 2em;
}

.weatherInfo .hours {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width:100%;
}

.weatherInfo table {
  background-color: lightskyblue;
  font-size: 0.8em;
  margin: 0 1em;
}

.weatherInfo table th {
  padding: 0.5em;
}

form input {
  border: 2px solid rgba(173, 255, 47, 0.9);
  background: lightskyblue;
  padding: 1.1em;
  width: 25em;
  font-family: cinzelbold, 'Times New Roman', Times, serif;
  text-align: center;
  margin: 1em 0 0 0.5em;
}

button {
  border: 1px solid lightskyblue;
  box-shadow: 1px 4px 4px rgba(135, 206, 250, 0.8);
  text-align: center;
  cursor: pointer; 
  color: black;
  background: lightskyblue;
  padding: 1em;
  font-family: cinzelbold, 'Times New Roman', Times, serif;
  margin: 1em 2em;
}

